#managementteam {
    .title {
        background-color: #004E79;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3vh;

        h3 {
            color: #fff;
        }
    }

    .image {
        display: flex;
        justify-content: center;
    }
}