#about {

    .title {
        // background-color: #ff814f;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3vh;

        h3 {
            color: #000;
        }

        p {
            color: #bdbdbd;
        }
    }

    .abouttext {
        p {
            text-align: justify;
        }
    }

    .description {
        padding: 0 2em;
        // min-height: 50vh;
    }

    .message-from {
        h2 {
            text-align: center;
        }

        .message {
            margin: 5em 0;
            display: flex;
            flex: 1;
            flex-direction: row;


            .message-box {
                display: flex;
                justify-content: center;

                .box {
                    position: relative;
                    margin: 10px;
                    background-color: #fff;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                    border-radius: 50px 0px;
                    display: flex;
                    justify-content: center;

                    .image {
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        // background-color: red;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                        border-radius: 50px;
                        top: -50px;
                        overflow: hidden;
                    }

                    .text {
                        margin-top: 55px;
                        padding: 0 2em 2em 2em;

                        h5 {
                            text-align: center;
                        h6 {
                            text-align: center;
                            p {
                                font-size: 0.7em;
                                margin-top: 5px;
                                color: #4A4A4A;
                                text-align: right;

                                ;
                            }
                        }
                        }

                        p {
                            text-align: justify;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 18px;
                        }

                    }


                }

            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #about {
        .message-from {

            .message {
                flex-direction: column;

                .message-box {
                    .box:last-child {
                        margin-top: 4em;
                    }

                }
            }
        }
    }
}